{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "container-fluid min-vh-100 login position-relative">
    <div class= "position-absolute top-50 start-50 translate-middle border rounded px-4 py-5">
            <h1 class="text-center">Login</h1>
        
            <form method="POST" action="" class="d-flex flex-column gap-3">
                {% csrf_token %}
                <table>
                    <tr class="form-group">
                        <td>Username: </td>
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>
                            
                    <tr class="form-group">
                        <td>Password: </td>
                        <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>
                </table>
                <input class="btn btn-primary w-100" type="submit" value="Login">
            </form>
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
                
            Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
    </div>

</div>

{% endblock content %}