{% extends 'base.html' %} 
{% block meta %}
<title>JamTerbang</title>
{% endblock meta %} 

{% block content %}
<div class=" d-flex flex-column">
    <div>
        <div>
            <h4>Nama:</h4>
            <p>{{ nama }}</p>
        </div>
        <div>
            <h4>Kelas:</h4>
            <p>{{ kelas }}</p>
        </div>
    </div>
    
    <!-- <div class="d-flex gap-3"> 
        <p>Your most item: </p>
        {% for item in items %} 
            <div class="card p-3">
                {{ item.name }}
                <div>
                    {{ item.amount }}
                </div>
            </div>
        {% endfor %}
    </div> -->  
    <p> ini </p>

    <p> itu </p>
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            {% for item in items %}

            {% if item.id == last_item_id %} 
            <tr>
                <td style="color: red;">{{ item.name }} hah  </td>
                <td style="color: red;" class="d-flex gap-2">
                    
                    <form action="{% url 'main:decrement_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">-</button>
                    </form>
                    <div>
                        {{ item.amount }}
                    </div>
                    <form action="{% url 'main:increment_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">+</button>
                    </form>
                    
                </td>                    
                <td style="color: red;">{{ item.description }}</td>
            </tr>
            {% else %}
            <tr >
                <td>{{ item.name }} {{ item.id }}</td>
                <td class="d-flex gap-2">
                    
                    <form action="{% url 'main:decrement_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">-</button>
                    </form>
                    <div>
                        {{ item.amount }}
                    </div>
                    <form action="{% url 'main:increment_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">+</button>
                    </form>
                    
              </td>
                </td>
                <td>{{ item.description }}</td>
            </tr>
            {% endif %}
            {% endfor %} 
        </table>
    
        
    
    
        <p> Kamu menyimpan {{ sum }} item</p>
        
        <a href="{% url 'main:add_item' %}">
            <button class="btn btn-primary">Add New Item</button>
        </a>
    </div>
    
    <div class="align-self-end">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <a href="{% url 'main:logout' %}">
            <button class="btn btn-primary">
                Logout
            </button>
        </a>
    </div>

    {% endblock content %}
</div>