{% extends 'base.html' %} 
{% block meta %}
<title>JamTerbang</title>
{% endblock meta %} 

{% block content %}
<div class="d-flex flex-column gap-3">
    <div>
        <div>
            <h4>Nama:</h4>
            <p>{{ nama }}</p>
        </div>
        <div>
            <h4>Kelas:</h4>
            <p>{{ kelas }}</p>
        </div>
    </div>
    
    <h4>Here are your items:</h4>
    <!-- <div class="d-flex gap-3"> 
        {% for item in items %} 
            <div class="card p-3">
                <h2>
                    {{ item.name }}
                </h2>
                <div>
                    {{ item.amount }}
                </div>
                <div>
                    {{ item.description }}
                </div>
            </div>
        {% endfor %}
    </div> -->

    <div>
        <div class="d-flex gap-3 flex-column" id="item_cards"></div>
        <!-- <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            {% for item in items %}
            
            {% if item.id == last_item_id %} 
            <tr>
                <td style="color: red;">{{ item.name }} </td>
                <td style="color: red;" class="d-flex gap-2">
                    
                    <form action="{% url 'main:decrement_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">-</button>
                    </form>
                    <div>
                        {{ item.amount }}
                    </div>
                    <form action="{% url 'main:increment_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">+</button>
                    </form>
                    
                </td>                    
                <td style="color: red;">{{ item.description }}</td>
            </tr>
            {% else %}
            <tr >
                <td>{{ item.name }}</td>
                <td class="d-flex gap-2">
                    
                    <form action="{% url 'main:decrement_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">-</button>
                    </form>
                    <div>
                        {{ item.amount }}
                    </div>
                    <form action="{% url 'main:increment_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">+</button>
                    </form>
                    
                </td>
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endif %}
        {% endfor %} 
    </table> -->
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-12 text-center"> Kamu menyimpan {{ sum }} item</div>
        </div> 
        <div class="row">
                <a href="{% url 'main:add_item' %}" class="col-md-6"><button class="btn btn-primary w-100">Add New Item</button></a>
                <button type="button" class="btn btn-primary col-md-6" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
            </div>
        </div>
    </div>

    
    <div class="container-fluid">
        <p>Sesi terakhir login: {{ last_login }}</p>
        <a href="{% url 'main:logout' %}">
            <button class="btn btn-primary">
                Logout
            </button>
        </a>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_user_items' %}")
            .then((res) => res.json())
    }

    function addItem() {
        fetch("{% url 'main:add_user_item' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addItem

    function incrementItem(id) {
        fetch("{% url 'main:increment_user_item'%}", {
            method: "PATCH",
            body: JSON.stringify({
                id : id
            })
        }).then(refreshItems)
    }

    function decrementItem(id) {
        fetch("{% url 'main:decrement_user_item'%}", {
            method: "PATCH",
            body: JSON.stringify({
                id : id
            })
        }).then(refreshItems)
    }

    async function refreshItems() {
        const items = await getItems(); 
        document.getElementById("item_cards").innerHTML = "";
        let htmlString = ""
        for (let i = 0; i<items.length; i++) {
            let id = items[i].pk; 
            let item = items[i].fields;

            let cardClass="card p-3"; 
            let buttonClass = "btn btn-sm btn-secondary";
            if (i+1 == items.length) {
                cardClass += " bg-secondary text-light"; 
                buttonClass += " bg-light text-dark";
            }



            htmlString += `\n
            <div class="${cardClass}" id="item-${id}">
                <h2>
                    ${ item.name } 
                </h2>
                <div>
                    <button class="${buttonClass}" onclick="incrementItem(${id})">▲</button> 
                    ${ item.amount } 
                    <button ${item.amount > 0 ? "" : "disabled"} class="${buttonClass}" onclick="decrementItem(${id})">▼</button> 
                </div>
                <div>
                    ${ item.description }
                </div>
            </div>
            ` 
        }

        document.getElementById("item_cards").innerHTML = htmlString
    }

    refreshItems()
</script>
{% endblock content %}